/********** Template CSS **********/
:root {
    --primary: #ff0055;
    --secondary: #e2009e;
    --light: #f2f2f2;
    --dark: #131010;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #131010;
    /* Change the background color of the page here */
}

.navbar {
    background-color: #131010 !important;
    /* Change the background color of the header area here */
}

.navbar .navbar-brand {
    color: #131010;
}

.navbar .navbar-nav .nav-link {
    color: #ffffff !important;
    /* Change the background color of the header area and navigation bar here */
}

.navbar .navbar-nav .nav-link:hover {
    color: #ff0055 !important;
    /* Change the text color of links when hovering here */
}

.fw-medium {
    font-weight: 600 !important;
}

/*** Form plane ***/

.form-container {
    width: 600px;
    border-radius: 0.75rem;
    background-color: rgb(36, 36, 36);
    padding: 3rem;
    color: rgba(243, 244, 246, 1);
    margin-left: auto;
    margin-right: auto;
}

.title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.form {
    margin-top: 1.5rem;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-column {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-group {
    margin-top: 0.25rem;
    margin-bottom: 10px;
    font-size: 0.875rem;
    line-height: 1.20rem;
}

.input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 2px;
}

.input-group select,
.input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgb(29, 29, 29);
    outline: 0;
    background-color: rgb(61, 61, 61);
    padding: 0.70rem 1rem;
    color: rgba(243, 244, 246, 1);
}

.input-group select:focus,
.input-group input:focus {
    border-color: rgba(167, 139, 250);
}

.btnNext {
    display: block;
    width: 100%;
    background-color: #ff0055;
    padding: 0.75rem;
    text-align: center;
    color: rgb(27, 27, 27);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
}

.btnNext:hover {
    background-color: #a11a47;
    color: rgb(255, 255, 255);
}

/* Style the form */
#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

/* Style the input fields */
input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

/* Mark the active step: */
.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #ff0055;
}

/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #ffffff;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}

/*** Invite bot ***/

#hero {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #ff0055;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: 0.5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}

/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

.carousel-img {
    max-width: 1920px;
    max-height: 1080px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-inner {
    background: rgba(0, 0, 0, 0.7);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

/*** Team ***/
.team-item .team-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    transform: scale(0);
    transition: 0.5s;
}

.team-item:hover .team-overlay {
    transform: scale(1);
}

.team-item .team-overlay .btn {
    color: var(--primary);
    background: #ffffff;
}

.team-item .team-overlay .btn:hover {
    color: #ffffff;
    background: var(--secondary);
}

/*** Footer ***/
.footer {
    background: #e0e0e0;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #ffffff;
    border-radius: 35px;
    transition: 0.3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: 0.3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

/* 2*/
.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.card {
    display: flex;
    height: 70px;
    width: 270px;
}

.card svg {
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.card .social-link1,
.card .social-link2,
.card .social-link3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}

.card svg {
    transform: scale(1);
}

.card .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: -webkit-linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    background: linear-gradient(45deg,
            #f09433 0%,
            #e6683c 25%,
            #dc2743 50%,
            #cc2366 75%,
            #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    animation: bounce_613 0.4s linear;
}

.card .social-link2:hover {
    background-color: #00bceb;
    animation: bounce_613 0.4s linear;
}

.card .social-link3:hover {
    background: #d400ff;
    background: -moz-linear-gradient(45deg,
            #780091 0%,
            #b500c5 25%,
            #d700eb 50%,
            #ff00ea 75%,
            #ff00b3 100%);
    background: -webkit-linear-gradient(45deg,
            #780091 0%,
            #b500c5 25%,
            #d700eb 50%,
            #ff00dd 75%,
            #ff00b3 100%);
    background: linear-gradient(45deg,
            #780091 0%,
            #b500c5 25%,
            #d700eb 50%,
            #ff00dd 75%,
            #ff00b3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d400ff', endColorstr='#ff00b3', GradientType=1);
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/*Cookies wrapper*/

.cookies-wrap {
    display: none;
    background: white;
    padding: 20px;
    width: calc(100% - 40px);
    max-width: 320px;
    line-height: 150%;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    padding-top: 60px;
    box-shadow: 0px 2px 20px 10px grey;
    text-align: center;
}

.cookies-wrap.active {
    display: block;
}

.cookies-wrap .title,
.cookies-wrap .paragraph {
    margin-bottom: 15px;
}

.cookies-wrap .btn {
    width: 100%;
    background: #ff0055;
    border: none;
    color: white;
    text-align: center;
    padding: 15px 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3 ease all;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 14px;
}

.cookies-wrap .btn:hover {
    background: #6602a8;
}

.cookies-wrap .link-cookies {
    color: #ff0055;
    text-decoration: none;
    font-size: 14px;
}

.cookies-wrap .link-cookies:hover {
    color: #6602a8;
    text-decoration: underline;
}

.background-cookies-wrap {
    display: none;
    background: var(--dark);
    position: fixed;
    z-index: 99;
    width: 100vw;
    top: 0;
    left: 0;
}

.background-cookies-wrap.active {
    display: block;
}

/* FAQ accordion */

.faqcontainer {
    margin: 0 auto;
    width: 60rem;
}

.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
    background-color: #101311;
}

.accordion .accordion-item button[aria-expanded="true"] {
    border-bottom: 1px solid #e5e5e5;
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #ff0055;
    font-size: 1.15rem;
    font-weight: bold;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: #e5e5e5;
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: #e5e5e5;
    border: 1px solid #e5e5e5;
}

.accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion button[aria-expanded="true"] {
    color: #e5e5e5;
}

.accordion button[aria-expanded="true"] .icon::after {
    width: 0;
}

.accordion button[aria-expanded="true"]+.accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.accordion .accordion-content p {
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    color: white;
}